<div id="post-nav">
  
    {% for post in site.posts %}
    {% if post.lang == page.lang %}
      {% if prev %}
        <div id="previous-post" class="post-nav-post">
            <p>{{ site.theme_settings.str_previous_post }}</p>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
        </div>      
      {% endif %}
      {% assign prev = false %}
      {% if post.id == page.id %}
        {% assign prev = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  
  {% for post in site.posts reversed %}
  {% if post.lang == page.lang %}
    {% if next %}
      <div id="next-post" class="post-nav-post">
          <p>{{ site.theme_settings.str_next_post }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
      </div>
    
      {% break %}
    {% endif %}
    {% assign next = false %}
    {% if post.id == page.id %}
      {% assign next = true %}
    {% endif %}
  {% endif %}
{% endfor %}
